{% extends "base.html" %}
{% load static %}
{% block static_head_files %}
	<link href="{% static 'css/home.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block title %}
	Teams
{% endblock %}
{% block content%}
    <div class="row justify-content-md-center">
    <!--Card to display number of peer review and peer testing-->
    {% for dashboard_obj in dashboard_objects%}
      <div class="col-3">
        <div class="card card-signin my-5">
          <div class="card-header">
            <div class='{{dashboard_obj.img_bg_class}}'>
              <span class="material-icons">{{dashboard_obj.card_icon}}</span>
            </div>
            <h5 class="card-title right_aligned_title">{{dashboard_obj.card_name}}</h5>
          </div>
          <div class="card-body card_1em_padding">
            <a href="{% url dashboard_obj.card_link %}{{dashboard_obj.default_filters}}">
              <p class='dasboard_count'>{{dashboard_obj.card_count}}</p>
            </a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}