{% extends "base.html" %}
{% load static %}
{% load bootstrap %}
{% load actions_template_tags %}
{% block static_head_files %}
	<link href="{% static 'css/list_view.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/filter_labels.css' %}" rel="stylesheet" type="text/css">
	
	<script src="{% static 'js/filter_labels.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/filter.js' %}" type="text/javascript"></script>

	<script type="text/javascript">
    
    	$(document).ready(function(){
    		
    		hide_all_lov_filters();
    		keep_initial_filter_as_displayed();
    		// search_dropdown();
    		$('.search_filter_drop_down_contains').click(function(){
    			return on_select_filter_change(this);
    		});
    		$('[data-toggle="tooltip"]').tooltip(); 
    		$('#invalidate_review_confirm').click(function(){
				$('#invalidate_modal').modal('hide');
				$('#action_processing').modal('show');
			});
			$('.invalidate_action_container').click(function(){
				data_url=$(this).attr("data-url_invalidate");
				$('#invalidate_review_confirm').attr('href',data_url);
			});
    	});

    
    </script>
{% endblock %}
{% block title %}
	{{page_title}}
{% endblock %}
{% block content%}
	
		
	
			<form method="GET">
				<div class="modal fade action_processing" tabindex="-1" id="action_processing" role="dialog" aria-hidden="true">
			  		<div class="modal-dialog modal-dialog-centered" role="document">
				    	<div class="modal-content">
				      		<div class="modal-header">
						        <h5 class="modal-title">Processing</h5>
				      		</div>
					      	<div class="modal-body">
					        	<div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
					      	</div>
				    	</div>
			  		</div>
				</div>
				<div class="modal fade invalidate_modal" tabindex="-1" id="invalidate_modal" role="dialog" aria-hidden="true">
			  		<div class="modal-dialog modal-dialog-centered" role="document">
				    	<div class="modal-content">
				      		<div class="modal-header">
						        <h5 class="modal-title">You have chosen to invalidate the review</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
				      		</div>
					      	<div class="modal-body">
					        	<p>Are you sure?</p>
					      	</div>
					      	<div class="modal-footer">
						        <a type="button" class="btn btn-primary" href="#" id ="invalidate_review_confirm">Yes</a>
						        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
					      	</div>
				    	</div>
			  		</div>
				</div>

				</br>
				{% if filter_badges %}
					<div><b>Filters</b> &emsp; <a href="{% url reset_filters %}">Reset Filters</a></div>
					<div class="form-group tag">
			    		{% for fbadge in filter_badges %}
			    		<span class="badge badge-success applied_filter_badges">{{fbadge}}</span>			    		<!-- <button class="filter_badges" type="submit" value="TXT" name="filter_form-question_choice_type">
			    				<label class="lbl lbl-primary">
			    					<span>
			    	    				<span>{{fbadge}}</span>
			    	    					<a><i class="remove glyphicon glyphicon-remove-sign glyphicon-white"></i>x</a> 
			    	    			</span>
			    	    		</label>
			    			</button> -->
		    			{% endfor %}
					</div>
				{% endif %}
				<!-- {{filter.form|bootstrap}} -->
				{% for field in filter.form %}
					<div>
						<span class="input-group search_search_hori">
							<div class="input-group-prepend">
	      						<!-- <span class="input-group-text">@</span> -->
	      						<!--dropdown-toggle-->
	      						<div class="dropdown">
											<button class="btn btn-default {{text_filters_drop_down_icon}}" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: rgba(93,120,255,.1);color: #5d78ff;">{{field.label}}
											</button>
											{% if other_filters %}
												<div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
						  							{% for item,val in other_filters %}
												    	<a class="dropdown-item search_filter_drop_down_contains" data-search-id={{item}} href="#"
												    	name="">{{val}}</a>
												    {% endfor %}
						  						</div>
						  					{% endif %}
								</div>
	    					</div>
							{{field}}
							<!-- {{field.label_tag}} -->
							<div class="input-group-append">
								<!-- <span class="material-icons">search</span> -->
								<!-- <button class="glyphicon glyphicon-search" ></button> -->
								<button type="submit" class="glyphicon glyphicon-search btn btn-default" id="#filter_form_search_button" style="background-color: rgba(93,120,255,.1);color: #5d78ff;"></button>
							</div>
						</span>
						{% if create_button_rendered %}
						<span class="search_create_hori">
							<a class="btn btn-success table_navbar_button" href="{% url create_url %}"> {{create_object_button_title}}
							</a>
						</span>
						{% endif %}
						
					</div>

					
				<!-- {{filter.form|bootstrap}} -->
				{% endfor %}

			</br>

				
				
			
		
		<!--Search bar-->

		

	


		<div class="card">
		<!-- <nav class="navbar navbar-expand-sm navbar-light bg-light table_toolbar navbar-drop-down-filter"> -->
			<div class="card-header">
				<div class="pagination">
			    	<div class="step-links">
				        {% if page_obj.has_previous %}
				            <a href="?page=1{{applied_filters_params}}">&laquo; First &ensp;</a>
				            <a href="?page={{ page_obj.previous_page_number }}{{applied_filters_params}}">Previous &ensp;</a>
				        {% endif %}
				        <span class="current">
				            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} &ensp;
				        </span>
				        {% if page_obj.has_next %}
				            <a href="?page={{ page_obj.next_page_number }}{{applied_filters_params}}">Next&ensp;</a>
				            <a href="?page={{ page_obj.paginator.num_pages }}{{applied_filters_params}}">Last &raquo;</a>
				        {% endif %}
			    	</div>
				</div>
				<br/>
				<div>
					{% if search_drop_downs %}
						{% for drop in search_drop_downs %}
							<ul class="navbar-nav search_drp_lov">
					      		<li class="nav-item">
									<div class="dropdown">
											<button class="btn btn-light dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{drop.title}}</button>
											{% if drop.drp_list %}
						  						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						  							{% for item in drop.drp_list %}
												    	<button class="dropdown-item" type="submit" value="{{item.lov_id}}" class="drop_down_filter_lov"
												    	name="{{item.lov_name}}">{{item.lov_value}}</button>
												    {% endfor %}
						  						</div>
											{% endif %}
									</div>
								</li>
							</ul>
						{% endfor %}
					{% else %}
						<p class="navbar-nav"><p>
					{% endif %}
				</div>
			</div>
		<!-- </nav> -->
		</div>
		</form>
		{% if progressbar %}
			<div class="progress">
	  			<div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{perct_pnd}}%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" title="Pending : {{num_pnd}}"></div>
	  			<div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: {{perct_rej}}%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" title="Rejected : {{num_rej}}"></div>
	  			<div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: {{perct_inv}}%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" title="Invalidated : {{num_inv}}"></div>
	  			<div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: {{perct_apr}}%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" title="Approved : {{num_apr}}"></div>
			</div>
		{% endif %}
		<ul class="list-group">
			{% for obj in page_obj %}
				<div class="list-group-item list-group-item-action">
    				<div class="d-flex w-100 justify-content-between">
      					<a href="{% url detail_view_url obj_pk=obj.pk %}" class="hover_underline_link">{{obj.get_display_list_name}}</a>
      					{% if obj.get_tag_right_1 %}
	      					<span class="filter_badges">
			    				<label class="lbl lbl-primary">
			    					<span>{{obj.get_tag_right_1}}</span>
			    	    		</label>
			    			</span>
			    		{% endif %}
    				</div>
    				{% if obj.get_display_list_description %}
	    				{% for key, value in obj.get_display_list_description %}
		    				<div class="d-flex w-100 justify-content-between">
		      					<p class="mb-1 text-muted">{{key}}</p>
		      					{% if value %}
			      					<span class="filter_badges">
					    				<label class="lbl lbl-primary">
					    					<span>{{value}}</span>
					    	    		</label>
					    			</span>
					    		{% endif %}
		    				</div>
		    			{% endfor %}
	    			{% endif %}
	    			{% for badge in obj.get_display_list_continuous_tags %}
			    		<span class="filter_badges">
		    				<label class="lbl lbl-primary">
		    					<span>{{badge}}</span>
		    	    		</label>
		    			</span>
	    			{% endfor %}
	    			{% get_action_values obj list_view_type as actions_drop%}
	    			{% if actions_drop %}
	    				<div>
		    				<div class="dropdown">
								<button class="btn btn-danger dropdown-toggle right_aligned_action" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</button>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									{% for action_name,action_url in actions_drop %}
										{% if action_name|lower == 'invalidate' %}
											<a class="dropdown-item invalidate_action_container" href="#" data-toggle="modal" data-target="#invalidate_modal"
											data-url_invalidate="{% url action_url obj_pk=obj.pk%}">{{action_name}}</a>
										{% else %}
											<a class="dropdown-item" href="{% url action_url obj_pk=obj.pk%}">{{action_name}}</a>
										{% endif %}
									{% endfor %}
								</div>
		    				</div>	
	    				</div>
	    			{% endif %}
    			</div>	
  			
			{% endfor %}
		</ul>
		<div class="card">
			<div class=card-footer>
				<div class="pagination">
			    	<div class="step-links">
				        {% if page_obj.has_previous %}
				            <a href="?page=1{{applied_filters_params}}">&laquo; First &ensp;</a>
				            <a href="?page={{ page_obj.previous_page_number }}{{applied_filters_params}}">Previous &ensp;</a>
				        {% endif %}
				        <span class="current">
				            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} &ensp;
				        </span>
				        {% if page_obj.has_next %}
				            <a href="?page={{ page_obj.next_page_number }}{{applied_filters_params}}">Next&ensp;</a>
				            <a href="?page={{ page_obj.paginator.num_pages }}{{applied_filters_params}}">Last &raquo;</a>
				        {% endif %}
			    	</div>
				</div>
				<br/>

			</div>
		</div>
		<br/>
{% endblock %}