@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");
.toast_action_outcome{
	opacity: 1 !important;
	background-color:#a0e6b0 !important;
	position: relative; 
	bottom: 0; 
	margin: 2em auto 2em auto;
}