.material-icons { 
	font-size: 36px; 
	color:white;
}

.image_floating_card_orange{
	padding: 15px;
	transform: translateY(-50%);
	background: linear-gradient(60deg, #ef5350, #e53935);
	display: inline-flex;
	border-radius: 3px;
	float: right !important;
}

.right_aligned_title{
	display: inline-flex;
    word-break: break-word;
    float: left;
}

.image_floating_card_green{
	padding: 15px;
	transform: translateY(-50%);
	background: linear-gradient(60deg, #66bb6a, #43a047);
	display: inline-flex;
	border-radius: 3px;
	float: right !important;
}

.dasboard_count{
	text-align: right;
	font-size: 2em;
}

.card_1em_padding{
	padding: 1em !important;
}