.btn-register:link,.btn-register:visited {
  color: white;
  background-color: #e42616;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.btn-register:hover,.btn-register:active {
  color: white;
  background-color: #ea4335;
}


.no_bullets{
  list-style-type: none;
}

.applied_filter_badges{
	background-color: #5d78ff;
	font-size:100%;
}