{% extends "base.html" %}
{% load static %}
{% load actions_template_tags %}
{% block static_head_files %}
	<link href="{% static 'css/detail_view.css' %}" rel="stylesheet" type="text/css">
	<script src="{% static 'js/add_exemption_button.js' %}" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/timeline_right.css' %}">
	<script src="{% static 'js/loading_and_disabling_buttons_on_form_submit.js' %}" type="text/javascript"></script>
	<script type="text/javascript">
    
    	$(document).ready(function(){
        	$('#add_exemption').click(function() {
	    	    return add_exemption_form('exemption');
	        });
        	$('a.delete_exemption_button').click(function(){
        		return delete_exemption_form(this,'exemption');
        	});
        	hide_deleted_exemptions();

    	})
    
    </script>
{% endblock %}
{% block title %}
	{{review_approval_title}}
{% endblock %}
{% block content%}
	{% get_action_values review_object 'review_approval' as actions_drop%}
	<!--{% include 'lov/action_modal.html' %}-->
    <div class="row justify-content-md-center">
        
			<div class="card border-dark col-6" >
				
				<div class="card-header row">
					<div class="horizontal_title col align-middle"><h4 class="card_header_title">{{detail_view_card_title}}</h4></div>
					
    				{% if actions_drop %}
	    				<div class="horizontal_right_action col-2">
		    				<div class="dropdown">
								<button class="btn btn-danger dropdown-toggle right_aligned_action" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</button>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									{% for action_name,action_url in actions_drop %}
									<!--data-toggle="modal" data-target="#action_modal"-->
									<a class="dropdown-item" href="{% url action_url obj_pk=review_object.pk%}">{{action_name}}</a>
									{% endfor %}
								</div>
		    				</div>	
	    				</div>
    				{% endif %}
				</div>
				<div class="card-body text-dark">
					<h5 class="card-title" data-letters="{{ name_first_letter }}">{{ detail_name }}</h5>
					<form method='POST' onsubmit="load_and_disable_button_form_submit();">
						{% csrf_token %}
						{{ formset.management_form }}
						{% for form in formset%}
							{% if form.non_field_errors %}
								<div class="list-group">
									{% for err in form.non_field_errors %}
										<li class="list-group-item list-group-item-danger">{{err}}</li>
									{% endfor %}
								</div>
							{% endif %}
							{% for field in form%}
								{%if 'not_rendered' not in field.field.widget.attrs.class %}
									{% if 'choice_select' in field.field.widget.attrs.class %}
										<div class="form-group">
											<label for="{{ field.id_for_label }}">{{ field.label }}</label>
											{{ field }}
											
											{% if field.errors %}
												<div class="list-group">
													{% for err in field.errors %}
														<li class="list-group-item list-group-item-danger">{{err}}</li>
													{% endfor %}
												</div>
											{% endif %}
										</div>
									{% elif 'text_area' in field.field.widget.attrs.class %}
										<div class="form-group">
											{{field.label_tag}}
											{{ field }}
											
											{% if field.errors %}
												<div class="list-group">
													{% for err in field.errors %}
														<li class="list-group-item list-group-item-danger">{{err}}</li>
													{% endfor %}
												</div>
											{% endif %}
										</div>
									{% elif field in form.hidden_fields %}
										<div class="form-label-group" hidden>
											{{field}}
											{{field.label_tag}}
										</div>
									{% else %}
										<div class="form-label-group">
											{{field}}
											{{field.label_tag}}
											{% if field.errors %}
												<div class="list-group">
													{% for err in field.errors %}
														<li class="list-group-item list-group-item-danger">{{err}}</li>
													{% endfor %}
												</div>
											{% endif %}
										</div>
									{% endif %}
								{% endif %}
							{% endfor %}
						{% endfor %}
						{% if review_object.is_pending %}
							

							<div id="exemption_form_set">
							{{ exemption_formset.management_form }}
							{% for form2 in exemption_formset %}
								{% if form2.non_field_errors %}
									<div class="list-group">
										{% for err in form2.non_field_errors %}
											<li class="list-group-item list-group-item-danger">{{err}}</li>
										{% endfor %}
									</div>
								{% endif %}
								<div class='empty_exemption_form'>
									<div class="form-label-group">
										<div class="form-label-group">
								        	{{form2.exemption_for}}
								        	{{form2.exemption_for.label_tag}}
								        	
								        	{% if form2.exemption_for.errors %}
												<div class="list-group">
													{% for err in form2.exemption_for.errors %}
														<li class="list-group-item list-group-item-danger">{{err}}</li>
													{% endfor %}
												</div>
											{% endif %}

								        </div>
								        <div class="form-group">
								        	{{form2.exemption_explanation.label_tag}}
								        	{{form2.exemption_explanation}}
								        	
								        	{% if form2.exemption_explanation.errors %}
												<div class="list-group">
													{% for err in form2.exemption_explanation.errors %}
														<li class="list-group-item list-group-item-danger">{{err}}</li>
													{% endfor %}
												</div>
											{% endif %}

								        </div>
									</div>
									<div class="delete_checkbox_form" hidden>{{ form2.DELETE }}</div>
								    <a class="btn btn-lg btn-register btn-block text-uppercase text-decoration-none delete_exemption_button"   href="javascript:void(0)" > Delete Exemption</a>
								</div>
							{% endfor %} 
							
							<div id="empty_form" style="display:none">
							    <div class='empty_exemption_form'>
							        <div class="form-label-group">
							        	{{exemption_formset.empty_form.exemption_for}}
							        	{{exemption_formset.empty_form.exemption_for.label_tag}}
							        </div>
							        <div class="form-group">
							        	{{exemption_formset.empty_form.exemption_explanation.label_tag}}
							        	{{exemption_formset.empty_form.exemption_explanation}}
							        </div>
							        <div class="delete_checkbox_form" hidden>{{ exemption_formset.empty_form.DELETE }}</div>
							        <a class="btn btn-lg btn-register btn-block text-uppercase text-decoration-none delete_exemption_button"   href="javascript:void(0)" > Delete Exemption</a>
							    </div>
							</div>
							
							
							</div>
							<button type="submit" class="btn btn-lg btn-primary btn-block text-uppercase" id="submit_button">{{button_label}}</button>
							
							<a class="btn btn-lg btn-register btn-block text-uppercase text-decoration-none"  id="add_exemption"  href="javascript:void(0)" > Add Exemption</a>
						{% endif %}

					</form>
					<!-- <form method='POST'>
						
					</form> -->
				</div>
			</div>
			{% if right_aligned_timeline %}
			   <div class="col-6">
			   		<!-- <div class="col-md-6 offset-md-3"> -->
			   		{% if detail_timeline %}
			   		<div>
						<h4>{{detail_timeline_title}}</h4>
						<ul class="timeline">
							{% for timeline_obj in detail_timeline %}
							<li>
								{% if timeline_obj.is_url %}
									<a target="_blank" href="{% url timeline_obj.timeline_url obj_pk=timeline_obj.obj_pk %}">{{timeline_obj.title}}</a>
									{% if timeline_obj.title_right_floater %}
										<span class="float-right red_text">{{ timeline_obj.title_right_floater }}</span>
									{% endif %}
									
									
								{% else %}
									<!-- <h6  >{{timeline_obj.title}}</h6> -->
									<a target="_blank" href="#" class="disabled_url green_text">{{timeline_obj.title}}</a>
									{% if timeline_obj.title_right_floater %}
										<span class="float-right red_text">{{ timeline_obj.title_right_floater }}</span>
									{% endif %}
								{% endif %}

								{% if timeline_obj.description %}
									<p>
									{% for desc in timeline_obj.description %}
										{{desc}}<br>
									{% endfor %}
									</p>
								{% endif %}

							</li>
							{% endfor %}
						</ul>
					<!-- </div> -->
					</div>
					</br>
					{% endif %}
					{% if approval_timeline %}
			   		<div>
						<h4>{{approval_timeline_title}}</h4>
						<ul class="timeline">
							{% for timeline_obj in approval_timeline %}
							<li>
								{% if timeline_obj.is_url %}
									<a target="_blank" href="{% url timeline_obj.timeline_url obj_pk=timeline_obj.obj_pk %}" >{{timeline_obj.title}}</a>
									{% if timeline_obj.title_right_floater %}
										<span class="float-right red_text">{{ timeline_obj.title_right_floater }}</span>
									{% endif %}
									
									
								{% else %}
									<!-- <h6  >{{timeline_obj.title}}</h6> -->
									<a target="_blank" href="#" class="disabled_url green_text">{{timeline_obj.title}}</a>
									{% if timeline_obj.title_right_floater %}
										<span class="float-right red_text">{{ timeline_obj.title_right_floater }}</span>
									{% endif %}
								{% endif %}

								{% if timeline_obj.description %}
									<p>
									{% for desc in timeline_obj.description %}
										{{desc}}<br>
									{% endfor %}
									</p>

								{% endif %}

							</li>
							{% endfor %}
						</ul>
					<!-- </div> -->
					</div>
					</br>
				{% endif %}
			 </div>
   {% endif %}
        
    </div>
{% endblock %}