<!DOCTYPE html>
{% load static %}
{% load generic_tags %}
<html>
<head>
  <meta charset="utf-8">

	<script src="{% static 'js/external/popper-min.js' %}"></script>
  	<link rel="stylesheet" href="{% static 'css/external/bootstrap-min.css' %}">
	<script src="{% static 'js/external/jquery-min.js' %}"></script>
	<script src="{% static 'js/external/cdn-jquery-min.js' %}"></script>
	<script src="{% static 'js/external/bootstrap-min.js' %}"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
	
	<link href="{% static 'css/base.css' %}"
      rel="stylesheet">
    <link href="{% static 'css/login.css' %}" rel="stylesheet" type="text/css">
      <script>
    $(document).ready(function(){
    	// $(".alert").addClass('fadeIn')
    	// $('.alert').alert('close');
    	$('.alert-dismissible').alert();
    	$('.alert-dismissible').fadeOut(5000);

    });
</script>
  <title>{% block title %}Reviews{% endblock %}</title>
  {% block static_head_files %}
  {% endblock %}
</head>
<body>
  	{% if request.user.is_authenticated %}
  		{% is_user_manager request.user as manager %}
  		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		  <a class="navbar-brand" href="{% url 'configurations:homepage' %}">Home</a>
		  
		  <div class="collapse navbar-collapse" id="navbarNav">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item {{is_peer_test_active}}">
		        <a class="nav-link" href="{% url 'peer_testing:peer_testing_home' %}">Peer testing</a>
		      </li>
		      {% if manager %}
		      <li class="nav-item {{is_conf_active}}">
		        <a class="nav-link" href="{% url 'configurations:configurations_home' %}">Configurations</a>
		      </li>
		      {% endif %}
		      <li class="nav-item {{is_review_active}}">
		        <a class="nav-link" href="{% url 'peer_review:review_home' %}">Checklist</a>
		      </li>
		  	</ul>
		  	<ul class="navbar-nav ml-auto">
		      <li class="nav-item">
		        <a class="nav-link" href="{% url 'configurations:logout' %}">Logout</a>
		      </li>
		    </ul>
		  </div>
		</nav>
  	{% endif %}
  		   
  	<div class="container parent_container" style="position: relative;">
  	<br>
<!-- {{message}} -->

    	{% for message in messages %}
    		{% if 'error' not in message.tags %}
		  		<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
		  	{% else %}
		  		<div class="alert alert-danger alert-dismissible fade show" role="alert">
		  	{% endif %}
	  			{{message}}
	  			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    			<span aria-hidden="true">&times;</span>
	  			</button>
			</div>
	    {% endfor %}
   
	    {% block content %}
	    	
	    {% endblock %}

	</div>
	
</body>
{% block js %}
{% endblock %}
</html>