<!DOCTYPE html>
<html>
<head>
</head>
<body>
	
	<h3> Review for bug: 
		{% if peer_review %}<a href="http://127.0.0.1:8000{% url 'peer_review:review_detail_view' obj_pk=review.pk %}">{{review.bug_number}}</a>
		{% else %}
		<a href="http://127.0.0.1:8000{% url 'peer_testing:peer_testing_detail_view' obj_pk=review.pk %}">{{review.bug_number}}</a>
		{% endif %} is {{action}} by {{action_by}}</h3>
		{% if comment %}
			<strong>Approver Comment: </strong>{{comment}}
		{% endif %}
	<p>Please take appropriate action</p>
	{% if high_priority %}
		<strong><em>PS this is marked as high priority</em></strong>
	{% endif %}
</body>
</html>