<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<h2> Hi {{addressee}}</h2>
	<h3> Email from: {{from}}</h3>
	{% if is_updated %}
		<h3>Review is updated by {{action_by}}</h3>
	{% endif %}
	{% if follow_up %}
		<p>{{follow_up_comment}}</p>
	{% else %}
		<h3> Approval required for bug: 
			<a href="http://127.0.0.1:8000{% url apr_url' obj_pk=review.pk %}">{{review.bug_number}}</a>
			
		</h3>
	{% endif %}
	<h2>Review details</h2>
	<ul>
		{% for key,val in review.get_email_review_details %}
				<li>{{key}} : {{val}}</li>
		{% endfor %}
		{% if not peer_review %}
			{% for key,val in review.get_values_for_fields_answers %}
				<h4>{{key}}</h4>
				<p>{{val}}</p>
			{% endfor %}
		{% endif %}
	</ul>
	{% if high_priority %}
		<strong><em>PS this is marked as high priority</em></strong>
	{% endif %}
</body>
</html>
