<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<h2> Hi {{addressee}}</h2>
	{% if is_updated %}
		<h3>Review is updated by {{action_by}}</h3>
	{% endif %}
	<h3> Approval required for bug: 
		{% if peer_review %}<a href="http://127.0.0.1:8000{% url 'peer_review:review_detail_view' obj_pk=review.pk %}">{{review.bug_number}}</a>
		{% else %}
		<a href="http://127.0.0.1:8000{% url 'peer_testing:peer_testing_detail_view' obj_pk=review.pk %}">{{review.bug_number}}</a>
		{% endif %}
	</h3>
	<h2>Review details</h2>
	<ul>
		{% for key,val in review.get_email_review_details %}
				<li>{{key}} : {{val}}</li>
		{% endfor %}
		{% if not peer_review %}
			{% for key,val in review.get_values_for_fields_answers %}
				<h4>{{key}}</h4>
				<p>{{val}}</p>
			{% endfor %}
		{% endif %}
	</ul>
	{% if high_priority %}
		<strong><em>PS this is marked as high priority</em></strong>
	{% endif %}
</body>
</html>
